<ul class="nav nav-tabs menu-tabs">
    <li class="nav-item active">
        <a class="nav-link" href="#settings-stripe" data-bs-toggle="tab">Stripe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#settings-razorpay" data-bs-toggle="tab">Razorpay</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#settings-paypal" data-bs-toggle="tab">Paypal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#settings-paystack" data-bs-toggle="tab">Paystack</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#settings-cod" data-bs-toggle="tab">COD</a>
    </li>
</ul>
<div class="tab-content pt-0">
    <div role="tabpanel" id="settings-stripe" class="tab-pane fade show active">
        <div class="row">
            <div class=" col-lg-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-heads">
                            <h4 class="card-title">Stripe</h4>
                            <div class="col-auto">
                                <div class="status-toggle">
                                    <input id="stripe" class="check" type="checkbox" checked="">
                                    <label for="stripe" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-4">
                            <label class="d-block">Stripe Option </label>
                            <div class="custom-control custom-radios custom-control-inline">
                                <input class="custom-control-input" id="sandbox" type="radio" name="stripe" value="phpmail" checked>
                                <label class="custom-control-label" for="sandbox">Sandbox</label>
                            </div>
                            <div class="custom-control custom-radios custom-control-inline">
                                <input class="custom-control-input" id="live" type="radio" name="stripe" value="smtp" >
                                <label class="custom-control-label" for="live">Live</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Gateway Name </label>
                            <input type="text" class="form-control" value="Stripe">
                        </div>
                        <div class="form-group">
                            <label>API Key</label>
                            <input type="text" class="form-control" value="pk_test_AealxxOygZz84AruCGadWvUV00mJQZdLvr">
                        </div>
                        <div class="form-group">
                            <label> Rest Key </label>
                            <input type="text" class="form-control" value="sk_test_8HwqAWwBd4C4E77bgAO1jUgk00hDlERgn3">
                        </div>
                        <div class="form-groupbtn">
                            <a class="btn btn-update me-2">Save</a>
                            <a class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" id="settings-razorpay" class="tab-pane fade">
        <div class="row">
            <div class=" col-lg-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-heads">
                            <h4 class="card-title">Razorpay</h4>
                            <div class="col-auto">
                                <div class="status-toggle">
                                    <input id="razorpay" class="check" type="checkbox" checked="">
                                    <label for="razorpay" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-4">
                            <label class="d-block">Razorpay Option </label>
                            <div class="custom-control custom-radios custom-control-inline">
                                <input class="custom-control-input" id="sandbox" type="radio" name="Razorpay" value="phpmail" checked>
                                <label class="custom-control-label" for="sandbox">Sandbox</label>
                            </div>
                            <div class="custom-control custom-radios custom-control-inline">
                                <input class="custom-control-input" id="live" type="radio" name="Razorpay" value="smtp" >
                                <label class="custom-control-label" for="live">Live</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Gateway Name </label>
                            <input type="text" class="form-control" value="Stripe">
                        </div>
                        <div class="form-group">
                            <label>API Key</label>
                            <input type="text" class="form-control" value="pk_test_AealxxOygZz84AruCGadsdWvUV00mJQZdLvr">
                        </div>
                        <div class="form-group">
                            <label> Rest Key </label>
                            <input type="text" class="form-control" value="sk_test_8HwqAWwBd4C4E77bgAOsdd1jUgk00hDlERgn3">
                        </div>
                        <div class="form-groupbtn">
                            <a class="btn btn-update me-2">Save</a>
                            <a class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" id="settings-paypal" class="tab-pane fade">
        <div class="row">
            <div class=" col-lg-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-heads">
                            <h4 class="card-title">Paypal</h4>
                            <div class="col-auto">
                                <div class="status-toggle">
                                    <input id="paypal" class="check" type="checkbox" checked="">
                                    <label for="paypal" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-4">
                            <label class="d-block">Paypal Option </label>
                            <div class="custom-control custom-radios custom-control-inline">
                                <input class="custom-control-input" id="sandbox" type="radio" name="mail_config" value="phpmail" checked >
                                <label class="custom-control-label" for="sandbox">Sandbox</label>
                            </div>
                            <div class="custom-control custom-radios custom-control-inline">
                                <input class="custom-control-input" id="live" type="radio" name="mail_config" value="smtp" >
                                <label class="custom-control-label" for="live">Live</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Braintree Tokenization key </label>
                            <input type="text" class="form-control" value="sandbox_pgjcppvdsds_pd6gznv7zbrx9hb8">
                        </div>
                        <div class="form-group">
                            <label>Braintree Merchant ID</label>
                            <input type="text" class="form-control" value="pd6gznvs7zbrx9hb8">
                        </div>
                        <div class="form-group">
                            <label> Braintree Public key </label>
                            <input type="text" class="form-control" value="h8bydrzs7gcjkp7d4">
                        </div>
                        <div class="form-group">
                            <label> Braintree Public key </label>
                            <input type="text" class="form-control" value="h8bydrzs7gcjkp7d4">
                        </div>
                        <div class="form-group">
                            <label>Braintree Private key </label>
                            <input type="text" class="form-control" value="sandbox_pgsjcppvs_pd6gznv7zbrx9hb8">
                        </div>
                        <div class="form-group">
                            <label> Paypal APP ID</label>
                            <input type="text" class="form-control" value="pd6gznsv7zbrx9hb8">
                        </div>
                        <div class="form-group">
                            <label> Paypal Secret Key </label>
                            <input type="text" class="form-control" value="h8bydrzs7gcjkp7d4">
                        </div>
                        <div class="form-groupbtn">
                            <a class="btn btn-update me-2">Save</a>
                            <a class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" id="settings-paystack" class="tab-pane fade">
        <div class="row">
            <div class=" col-lg-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-heads">
                            <h4 class="card-title">Paystack</h4>
                            <div class="col-auto">
                                <div class="status-toggle">
                                    <input id="paystack" class="check" type="checkbox" checked="">
                                    <label for="paystack" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-4">
                            <label class="d-block">Paystack Option </label>
                            <div class="custom-control custom-radios custom-control-inline">
                                <input class="custom-control-input" id="sandbox" type="radio" name="mail_config" value="phpmail" checked>
                                <label class="custom-control-label" for="sandbox">Sandbox</label>
                            </div>
                            <div class="custom-control custom-radios custom-control-inline">
                                <input class="custom-control-input" id="live" type="radio" name="mail_config" value="smtp" >
                                <label class="custom-control-label" for="live">Live</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Gateway Name </label>
                            <input type="text" class="form-control" value="Stripe">
                        </div>
                        <div class="form-group">
                            <label>API Key</label>
                            <input type="text" class="form-control" value="pk_test_AeaslxxOygZz84AruCGadWvUV00mJQZdLvr">
                        </div>
                        <div class="form-group">
                            <label> Rest Key </label>
                            <input type="text" class="form-control" value="sk_test_8HwqAWwsBd4C4E77bgAO1jUgk00hDlERgn3">
                        </div>
                        <div class="form-groupbtn">
                            <a class="btn btn-update me-2">Save</a>
                            <a class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" id="settings-cod" class="tab-pane fade">
        <div class="row">
            <div class=" col-lg-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-heads">
                            <h4 class="card-title">COD</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-heads mb-4">
                            <h6 class="card-title">Cash On Delivery</h6>
                            <div class="col-auto">
                                <div class="status-toggle">
                                    <input id="default_otps" class="check" type="checkbox" checked="">
                                    <label for="default_otps" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-groupbtn">
                            <a class="btn btn-update me-2">Save</a>
                            <a class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

