<div class="row">
    <div class=" col-lg-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-heads">
                    <h4 class="card-title">Google Map API Key</h4>
                    <div class="col-auto">
                        <div class="status-toggle">
                            <input id="apikey" class="check" type="checkbox" checked="">
                            <label for="apikey" class="checktoggle">checkbox</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Google Map API Key</label>
                    <input type="text" class="form-control" value="ABAB7np-KG4:APA91bF_TPd5S8OmdfgdfdfyuYPei-t_N4M9uCZtgN">
                </div>
                <div class="form-group">
                    <div class="form-links">
                        <a href="#" target="_blank">How to create firebase setup?</a>
                    </div>
                </div>
                <div class="form-groupbtn">
                    <a class="btn btn-update me-2">Update</a>
                    <a class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-heads">
                    <h4 class="card-title">Push Notification</h4>
                    <div class="col-auto">
                        <div class="status-toggle">
                            <input id="push" class="check" type="checkbox" checked="">
                            <label for="push" class="checktoggle">checkbox</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Firebase Server Key</label>
                    <input type="text" class="form-control" value="AAsAA7np-KG4:AsPA91bF_TPds5S8OmUORHdyusYPei-t_N4M9uCZtgN">
                </div>
                <div class="form-group">
                    <div class="form-links">
                        <a href="#" target="_blank">How to create firebase setup?</a>
                    </div>
                </div>
                <div class="form-groupbtn">
                    <a class="btn btn-update me-2">Update</a>
                    <a class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>